language: python
python:
  - "2.6"
  - "2.7"
#  - "3.2"
#  - "3.3"
#  - "3.4"
#  - "3.5"
#  - "3.5-dev" # 3.5 development branch
#  - "nightly" # currently points to 3.6-dev

install:
  - pip install coverage

script:
  # run tests with coverage
  - coverage run tests/run_tests.py

after_success:
  - coverage report -m
